#root {
    text-align: center;
}

.container-flex {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.fas {
    align-self: center;
    margin: 20px;
    color: purple;
    cursor: pointer;
}

img {
    width: 1200px;
    height: 750px;
    border-radius: 5px;
}

.droplist {
    margin-top: 20px;
    width: 80px;
    height: 40px;
    border: 1px solid blue;
}
